html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: table;
  font-family: 'Courier New', Courier, monospace;
}
body {
  background-color: #b7c3f3;
}

/*CONTENT ESTE PARTEA DE EDITOR SVG*/
#content {
  display: table-cell;
  width: 83%;
  height: 100%;
  vertical-align: top;
}
/* BACKGROUND AL EDITORULUI */
svg {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #4f6272;
  cursor: pointer;
}

/* FORMELE STANDARD DE INSERAT */
svg rect,
ellipse {
  fill: transparent;
  stroke: rgb(0, 0, 0);
  stroke-width: 2px;
  opacity: 100%;
}

svg line {
  stroke: rgb(0, 0, 0);
  stroke-width: 2px;
}

/* FORMALE STANDARD ATUNCI CAND SELECTAM */
svg #selectieDrep,
svg #selectieElipsa,
svg #selectieLinie {
  fill: transparent;
  stroke-opacity: 0.5;
  stroke-dasharray: 3, 3;
  stroke: rgb(0, 128, 0);
}

svg .selectat {
  stroke-dasharray: 3, 3;
  stroke: rgb(0, 0, 255);
  stroke-width: 5px;
}

/* 
INSTRUMENTELE DIN PARTEA STANGA
 */
.sidebar-instrumente {
  display: table-cell;
  width: 5%;
  height: 100%;
  vertical-align: top;
}
.sidebar-instrumente ul {
  padding-inline-start: 0px;
}
.sidebar-instrumente ul li {
  list-style: none;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.sidebar-instrumente ul li {
  color: #cf1259;
  font-weight: bold;
}
.sidebar-instrumente ul li button {
  position: relative;
  width: 8rem;
  background-color: #b7c3f3;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
}
.sidebar-instrumente ul li button:hover {
  background-color: #cf1259;
  transform: scale(1.1);
  border: none;
  text-align: right;
  color: #000000;
}
/* LINIILE DIN STANGA SI DREAPTA JUST FOR DESIGN PURPOSES */
#line1 {
  width: 10px;
  height: 100%;
  background-color: #cf1259;
}

#line2 {
  width: 10px;
  height: 100%;
  background-color: #b7c3f3;
}

/* INSTRUMENTELE DIN PARTEA DREAPTA */
.sidebar-modificari {
  display: table-cell;
  width: 10%;
  height: 100%;
  vertical-align: top;
  padding: 7px;
  background-color: #dd7596;
}
/* STYLE FOR HEADING H1 & H2 */
.sidebar-modificari h1 {
  font-size: 2rem;
  color: #59052b;
}
.sidebar-modificari h2 {
  font-size: 1rem;
  color: #4f6272;
  font-weight: bold;
}

/* AM CATE UN SIDEBAR CU COORDONATELE FIECAREI FIGURI */
#sidebar-rectangle,
#sidebar-ellipse,
#sidebar-line {
  margin-bottom: 8rem;
}
label {
  float: left;
}
/* ESTE CONTAINERUL IN CARE STAU COORDONATELE FIGURILOR */
.spanRight span {
  display: block;
  overflow: hidden;
  justify-content: center;
}
/* PROPRIETATII PT INPUTURI */
#strokeWidthValue {
  /* INPUT STROKE WIDTH */
  width: 2.5rem;
}

input[type='number'] {
  width: 3.5rem;
  background-color: #dd7596;
}

input[type='range'] {
  width: 10rem;
  cursor: pointer;
}
/* LABELUL DE LA OPACITATE CARE SE MODIFICA CU VALOAREA OPACITATII */
#lb_opacity {
  font-weight: bold;
  color: #b7c3f3;
}

.sidebar-instrumente label,
input {
  margin-bottom: 5px;
}

/* FIELDSET COLORS */
#colors {
  padding: 0.5rem;
  margin-top: 10rem;
  justify-content: center;
  background-color: #b7c3f3bf;
}
/* LEGENDA CULORI RGB */
legend {
  font-weight: bold;
}
/* BUTOANELE STROKE/BACKGROUND */
#radioBackground,
#radioStroke {
  text-align: left;
}
/* CONTAINER PT RBG & CULOAREA CURENTA */
div #colorsRBG {
  display: flex;
}
/* DIVUL CARE ARE CA BACKGROUND CULOAREA CURENTA CONFORM RGB */
div #color {
  display: flex;
  border: 1px solid #4f6272;
  background: black;
  width: 5rem;
  height: 5rem;
  float: right;
}

/* CONTAINERULUI RGB */
div #rbg {
  display: inline;
}

#help {
  background-color: #cf1259;
  color: #ffd5e2;
  text-align: center;
  width: 100%;
  margin-top: 3rem;
}
